<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.community.dao.CommunityDao">
  <resultMap id="BaseResultMap" type="com.cms.common.entity.Community">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modifed" jdbcType="TIMESTAMP" property="gmtModifed" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="catalog_id" jdbcType="TINYINT" property="catalogId" />
    <result column="decription" jdbcType="VARCHAR" property="decription" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modifed, `name`, catalog_id, decription
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_community
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_community
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cms.common.entity.Community" useGeneratedKeys="true">
    insert into tb_community (gmt_create, gmt_modifed, `name`, 
      catalog_id, decription)
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModifed,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, 
      #{catalogId,jdbcType=TINYINT}, #{decription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cms.common.entity.Community" useGeneratedKeys="true">
    insert into tb_community
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModifed != null">
        gmt_modifed,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="catalogId != null">
        catalog_id,
      </if>
      <if test="decription != null">
        decription,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModifed != null">
        #{gmtModifed,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="catalogId != null">
        #{catalogId,jdbcType=TINYINT},
      </if>
      <if test="decription != null">
        #{decription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cms.common.entity.Community">
    update tb_community
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModifed != null">
        gmt_modifed = #{gmtModifed,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="catalogId != null">
        catalog_id = #{catalogId,jdbcType=TINYINT},
      </if>
      <if test="decription != null">
        decription = #{decription,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cms.common.entity.Community">
    update tb_community
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modifed = #{gmtModifed,jdbcType=TIMESTAMP},
      `name` = #{name,jdbcType=VARCHAR},
      catalog_id = #{catalogId,jdbcType=TINYINT},
      decription = #{decription,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>