<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.community.dao.CommunityDao">
  <resultMap id="BaseResultMap" type="com.cms.common.entity.Community">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="catalog_id" jdbcType="TINYINT" property="catalogId" />
    <result column="history_num" jdbcType="INTEGER" property="historyNum" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>

  <resultMap id="SquareResultMap" type="com.cms.common.vo.community.CommunitySquareVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="catalog_name" jdbcType="VARCHAR" property="catalogName" />
    <result column="history_num" jdbcType="INTEGER" property="historyNum" />
    <result column="president" jdbcType="VARCHAR" property="president" />
  </resultMap>


  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, `name`, catalog_id, history_num, description
  </sql>
  <sql id="table_name">
    tb_community
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_community
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_community
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cms.common.entity.Community" useGeneratedKeys="true">
    insert into tb_community (gmt_create, gmt_modifed, `name`, 
      catalog_id, description)
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, 
      #{catalogId,jdbcType=TINYINT}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cms.common.entity.Community" useGeneratedKeys="true">
    insert into tb_community
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modifed,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="catalogId != null">
        catalog_id,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="catalogId != null">
        #{catalogId,jdbcType=TINYINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cms.common.entity.Community">
    update tb_community
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modifed = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="catalogId != null">
        catalog_id = #{catalogId,jdbcType=TINYINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.cms.common.entity.Community">
    update tb_community
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modifed = #{gmtModified,jdbcType=TIMESTAMP},
      `name` = #{name,jdbcType=VARCHAR},
      catalog_id = #{catalogId,jdbcType=TINYINT},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getSquareList" resultType="com.cms.common.vo.community.CommunitySquareVo" resultMap="SquareResultMap">
    SELECT ct.id, ct.name, cl.catalog_name, ct.gmt_create, u.real_name as 'president', ct.history_num
    FROM tb_community ct, tb_user u, user_community uc, community_catalog cl
    WHERE cl.id = ct.catalog_id AND uc.user_id = u.id AND uc.role_id = 1 AND uc.community_id = ct.id
  </select>

  <select id="count" resultType="integer">
    SELECT count(*) FROM <include refid="table_name"></include>
  </select>

</mapper>