<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.community.dao.NewsDao">
  <resultMap id="BaseResultMap" type="com.cms.common.entity.News">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="community_id" jdbcType="INTEGER" property="communityId"/>
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="author_id" jdbcType="BIGINT" property="authorId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="visible" jdbcType="TINYINT" property="visible" />
  </resultMap>

  <resultMap id="Window" type="com.cms.common.vo.news.NewsWindowsVo">
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="real_name" jdbcType="VARCHAR" property="author" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, community_id, title, author_id, content, visible
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cms.common.entity.News" useGeneratedKeys="true">
    insert into tb_news (gmt_create, gmt_modified, title, 
      author_id, content, visible
      )
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{community_id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
      #{authorId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{visible,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cms.common.entity.News" useGeneratedKeys="true">
    insert into tb_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="communityId != null">
        community_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="visible != null">
        visible,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="communityId != null">
        #{communityId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="visible != null">
        #{visible,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cms.common.entity.News">
    update tb_news
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="communityId != null">
        community_id = #{communityId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="visible != null">
        visible = #{visible,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cms.common.entity.News">
    update tb_news
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      author_id = #{authorId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      visible = #{visible,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectAllNews" resultType="com.cms.common.vo.news.NewsWindowsVo" resultMap="Window">
    SELECT n.gmt_create, n.gmt_modified, title, real_name, content
    FROM tb_news n, tb_user u
    WHERE n.author_id=u.id AND n.community_id=#{communityId}
    <if test="visible == 1">
      AND visible=#{visible}
    </if>
    ORDER BY n.gmt_modified DESC
  </select>
</mapper>