<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.workSheet.dao.WorksheetDao">
  <resultMap id="BaseResultMap" type="com.cms.common.entity.Worksheet">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="submit_user_id" jdbcType="BIGINT" property="submitUserId" />
    <result column="audit_user_id" jdbcType="BIGINT" property="auditUserId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="catalog" jdbcType="INTEGER" property="catalog" />
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <resultMap id="CommunityApplyMap" type="com.cms.common.vo.worksheet.WorksheetInfoVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="submitName" jdbcType="VARCHAR" property="submitRealName"/>
    <result column="auditName" jdbcType="VARCHAR" property="auditRealName"/>
    <result column="content" jdbcType="VARCHAR" property="content"/>
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="catalog" jdbcType="INTEGER" property="catalog" />
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, `name`, submit_user_id, audit_user_id, `state`, content, 
    `catalog`, remark
  </sql>

  <sql id="querySQL">
    <where>
      <if test="id != null">
        AND id = #{id}
      </if>
      <if test="name != null">
        AND `name` = #{name}
      </if>
      <if test="submitUserId != null">
        AND submit_user_id = #{submitUserId}
      </if>
      <if test="auditUserId != null">
        AND audit_user_id = #{auditUserId}
      </if>
      <if test="state != null">
        AND state = #{state}
      </if>
      <if test="content != null">
        AND content = #{content}
      </if>
      <if test="catalog != null">
        AND `catalog` = #{catalog}
      </if>
      <if test="remark != null">
        AND remark = #{remark}
      </if>
    </where>
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_worksheet
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_worksheet
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cms.common.entity.Worksheet" useGeneratedKeys="true">
    insert into tb_worksheet (gmt_create, gmt_modified, `name`, 
      submit_user_id, audit_user_id, `state`, 
      content, `catalog`)
    values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, 
      #{submitUserId,jdbcType=BIGINT}, #{auditUserId,jdbcType=BIGINT}, #{state,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{catalog,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cms.common.entity.Worksheet" useGeneratedKeys="true">
    insert into tb_worksheet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="submitUserId != null">
        submit_user_id,
      </if>
      <if test="auditUserId != null">
        audit_user_id,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="catalog != null">
        `catalog`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="submitUserId != null">
        #{submitUserId,jdbcType=BIGINT},
      </if>
      <if test="auditUserId != null">
        #{auditUserId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="catalog != null">
        #{catalog,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cms.common.entity.Worksheet">
    update tb_worksheet
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="submitUserId != null">
        submit_user_id = #{submitUserId,jdbcType=BIGINT},
      </if>
      <if test="auditUserId != null">
        audit_user_id = #{auditUserId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="catalog != null">
        `catalog` = #{catalog,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cms.common.entity.Worksheet">
    update tb_worksheet
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      `name` = #{name,jdbcType=VARCHAR},
      submit_user_id = #{submitUserId,jdbcType=BIGINT},
      audit_user_id = #{auditUserId,jdbcType=BIGINT},
      `state` = #{state,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      `catalog` = #{catalog,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="query" parameterType="com.cms.common.query.WorksheetQuery" resultMap="BaseResultMap" resultType="com.cms.common.entity.Worksheet">
    SELECT <include refid="Base_Column_List"/>
    FROM tb_worksheet <include refid="querySQL"/>
    ORDER BY gmt_modified DESC
  </select>
  
  <select id="communitySheet" resultMap="CommunityApplyMap" resultType="com.cms.common.vo.worksheet.WorksheetInfoVo" parameterType="com.cms.common.query.WorksheetQuery">
    select w.id, w.gmt_create, w.gmt_modified, w.name, u1.real_name as 'submitName', u2.real_name as 'auditName', w.content, w.catalog, w.remark, state
    from tb_worksheet w
    left join tb_user u1 on w.submit_user_id=u1.id
    left join  tb_user u2 on w.audit_user_id=u2.id
    <where>
      <if test="name != null">
        AND `name` = #{name}
      </if>
      <if test="catalog != null">
        AND `catalog` = #{catalog}
      </if>
      <if test="state != null">
        AND state = #{state}
      </if>
      <if test="submitUserId != null">
        AND submit_user_id = #{submitUserId,jdbcType=BIGINT}
      </if>
      <if test="auditUserId != null">
        AND audit_user_id = #{auditUserId,jdbcType=BIGINT}
      </if>
    </where>
  </select>

  <select id="union" resultMap="CommunityApplyMap" resultType="com.cms.common.vo.worksheet.WorksheetInfoVo" parameterType="com.cms.common.query.WorksheetQuery">
    select w.id, w.gmt_create, w.gmt_modified, w.name, u1.real_name as 'submitName', u2.real_name as 'auditName', w.content, w.catalog, w.remark, state
    from tb_worksheet w
    left join tb_user u1 on w.submit_user_id=u1.id
    left join  tb_user u2 on w.audit_user_id=u2.id
    <where>
      <if test="state != null">
        AND state = #{state}
      </if>
    </where>
    AND `catalog` = 1 or `catalog` = 2 or `catalog` = 4
  </select>

  <select id="applyRecord" resultType="integer">
    SELECT count(*)
    FROM tb_worksheet s, tb_community c
    where s.name = c.name
    and c.id = #{communityId}
    and submit_user_id = #{userId}
    and state = 0
  </select>


</mapper>