<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.auth.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.cms.common.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="gender" jdbcType="INTEGER" property="gender"/>
    <result column="user_num" jdbcType="BIGINT" property="userNum" />
    <result column="phone" jdbcType="BIGINT" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="classNum" jdbcType="INTEGER" property="classNum" />
    <result column="college" jdbcType="VARCHAR" property="college" />
    <result column="major" jdbcType="VARCHAR" property="major" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, user_id, password, real_name, gender, user_num, phone, email, nickname, grade, classNum, college, major
  </sql>
  <sql id="tableName">
    tb_user
  </sql>
  <sql id="querySQL">
    <where>
      <if test="id != null">
        AND id = #{id}
      </if>
      <if test="userId != null">
        AND user_id = #{userId}
      </if>
      <if test="password != null">
        AND password = #{password}
      </if>
      <if test="realName != null">
        AND real_name = #{realName}
      </if>
      <if test="gender != null">
        AND gender = #{gender}
      </if>
      <if test="userNum != null">
        AND user_num = #{userNum}
      </if>
      <if test="phone != null">
        AND phone = #{phone}
      </if>
      <if test="email != null">
        AND email = #{email}
      </if>
      <if test="nickname != null">
        AND nickname = #{nickname}
      </if>
      <if test="classNum != null">
        AND classNum = #{classNum}
      </if>
      <if test="grade != null">
        AND grade = #{grade}
      </if>
      <if test="college != null">
        AND college = #{college}
      </if>
      <if test="major != null">
        AND major = #{major}
      </if>
    </where>
  </sql>


  <select id="query" parameterType="com.cms.common.query.UserQuery" resultType="com.cms.common.entity.User" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM <include refid="tableName"></include>
    <include refid="querySQL"></include>
  </select>

  <update id="updateUserSessionIdByUserId">
    UPDATE <include refid="tableName"/>
    SET session_id = #{sessionId}
    WHERE user_id = #{userId}
  </update>
</mapper>